<h2>About</h2>
<p>
  After receiving his BA in Computer Science from Dartmouth College, Darren
  co-founded Thanx in 2011 and has led the engineering team there since.
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/drn">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/darrenlincheng">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-gift fa-lg main-list-item-icon"></span>
    <a href="https://www.thanx.com/">Thanx, Inc.</a>
  </li>
</ul>
