@font-face {
  font-family: Menlo Nerd Font;
  src: url(/static/media/menlo-patched.b1781e88af1abf0c8b09.otf);
}
html {
  height: 100%;
}
body {
  background-color: #08082a;
  color: #bcbbbb;
  cursor: text;
  font-family: Menlo Nerd Font, monospace;
  font-size: 15px;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
a:link {
  color: #19babb;
  text-decoration: none;
}
a:visited {
  color: #19babb;
  text-decoration: none;
}
a:hover {
  color: #50f0ef;
  -webkit-text-decoration: bold;
  text-decoration: bold;
}
a:active {
  color: #50f0ef;
  text-decoration: none;
}
.header {
  background-color: #1e1d1e;
  color: #3e3d3d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
}
.header > .left {
  text-align: left;
}
.header > .center {
  text-align: center;
}
.header > .right {
  text-align: right;
}
.color1 {
  background-color: #74729f;
  color: #242424;
}
.color1_2 {
  background-color: #3e3d3d;
  color: #74729f;
}
.color1_3 {
  background-color: #1e1d1e;
  color: #74729f;
}
.color2 {
  background-color: #3e3d3d;
  color: #bcbbbb;
}
.color2_1 {
  background-color: #74729f;
  color: #3e3d3d;
}
.color2_3,
.color3 {
  background-color: #1e1d1e;
  color: #3e3d3d;
}
.color3_1 {
  background-color: #74729f;
  color: #1e1d1e;
}
.color3_2 {
  background-color: #3e3d3d;
  color: #1e1d1e;
}
.indicator {
  color: #1291ff;
}
.row {
  display: flex;
}
.row > .input {
  background-color: #08082a;
  border: none;
  caret-color: #c82864;
  color: #bcbbbb;
  flex-grow: 1;
  font-family: Menlo Nerd Font, monospace;
  font-size: 15px;
  margin: -1px 0 0 -1px;
  outline: none;
}
span.failure {
  color: #fb5655;
}
.flex-center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.well {
  background: #9197ae;
  border-radius: 4px;
  color: #fff;
  height: 200px;
  padding: 10px 20px;
  text-align: center;
  width: 400px;
}
button.code {
  background: none;
  border: none;
  color: #fff;
  font-size: 100%;
  outline: none;
}
button:hover.code {
  color: #50f0ef;
}
