.header {
  color: #3e3d3d;
  background-color: #1e1d1e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  white-space: nowrap;
}

.header > .left {
  text-align: left;
}

.header > .center {
  text-align: center;
}

.header > .right {
  text-align: right;
}

.color1 {
  color: #242424;
  background-color: #74729f;
}

.color1_2 {
  color: #74729f;
  background-color: #3e3d3d;
}

.color1_3 {
  color: #74729f;
  background-color: #1e1d1e;
}

.color2 {
  color: #bcbbbb;
  background-color: #3e3d3d;
}

.color2_1 {
  color: #3e3d3d;
  background-color: #74729f;
}

.color2_3 {
  color: #3e3d3d;
  background-color: #1e1d1e;
}

.color3 {
  color: #3e3d3d;
  background-color: #1e1d1e;
}

.color3_1 {
  background-color: #74729f;
  color: #1e1d1e;
}

.color3_2 {
  background-color: #3e3d3d;
  color: #1e1d1e;
}
