{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "process": false,
    "window": false,
    "document": false,
    "console": false,
    "localStorage": false,
    "setTimeout": false,
    "it": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/jsx-curly-spacing": ["error", {"when": "never"}],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "max-len": "off"
  }
}
