@font-face {
  font-family: 'Menlo Nerd Font';
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url('./assets/fonts/menlo-patched.otf');
}

body {
  font-family: 'Menlo Nerd Font', monospace;
  font-size: 14px;
  background-color: #090820;
  color: #BCBBBB;
  margin: 0;
  padding: 0;
}
