@font-face {
  font-family: 'Menlo Nerd Font';
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url('./assets/fonts/menlo-patched.otf');
}

html {
  height: 100%;
}

body {
  font-family: 'Menlo Nerd Font', monospace;
  font-size: 14px;
  background-color: #090820;
  color: #BCBBBB;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a:link {
  color: #19BABB;
  text-decoration: none;
}

a:visited {
  color: #19BABB;
  text-decoration: none;
}

a:hover {
  color: #50F0EF;
  text-decoration: bold;
}

a:active {
  color: #50F0EF;
  text-decoration: none;
}
