.indicator {
  color: #1291FF;
}

.row {
  display: flex;
}

.row > .input {
  font-family: 'Menlo Nerd Font', monospace;
  font-size: 15px;
  background-color: #08082A;
  color: #BCBBBB;
  border: none;
  outline: none;
  flex-grow: 1;
  caret-color: #C82864;
}

span.failure {
  color: #FB5655;
}
